<!doctype html>
<html lang="en">
<head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link  rel="icon"   href="/assets/favicon.png" type="image/png" />

<meta name="description" content="Updates and statistics" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="canonical" href="https://keenthemes.com/metronic" />
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
<!--end::Fonts-->
<!--begin::Page Vendors Styles(used by this page)-->
<link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendors Styles-->
<!--begin::Global Theme Styles(used by all pages)-->
<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/main.css" rel="stylesheet" >

<!--end::Global Theme Styles-->
<!--begin::Layout Themes(used by all pages)-->
<!--end::Layout Themes-->
<link rel="shortcut icon" href="/assets/favicon.png" />

{% block head %}
{% endblock %}

</head>
<body id="kt_body" class="header-fixed header-mobile-fixed header-bottom-enabled page-loading">

<main>

<!-- header-start -->
<header class="default-header" style="border-bottom: #a0aeb8 1px solid;"><!--header-transparent-->
    <div class="main-menu-area menu-2 pl-155 pr-115">
        <div class="container-fluid">
            <div class="row d-flex align-items-center padmen" style="margin-bottom:20px" id="menu">
                <div class="col-xl-2 col-lg-2 p0">
                    <div class="logo">
                        <a href="/index.html"><img src="/assets/newElements/LOGO-RED_NEGRO.png"  alt="Logo Red Ciudadana" style="width:100%;margin-left: 5%;height:auto; margin-bottom:20px" /></a>
                    </div>
                </div>
                
                <div class="col-xl-8 col-lg-8" >
                    <div class="main-menu f-left ">
                        <nav id="mobile-menu" class="mobile-menu" >
                            <ul class="nav-menu" id="nav-menu">
                                
                                <!--begin::Item-->
                                <li class="nav-item mr-3">
                                    <!--data-target="#kt_header_tab_2"   data-toggle="tab" role="tab"-->
                                    <a href="/index.html" class="nav-link py-4 " >Inicio</a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="nav-item mr-3 subm">
                                    <!--data-target="#kt_header_tab_3"-->
                                    <a href="" class="nav-link py-4 " >Institucional</a>
                                    <ul class="sub">
                                        <li><a href="/adminis/index.html">Administración</a></li>
                                        <li><a href="/financiamiento/index.html">Financiamiento</a></li>
                                    </ul>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="nav-item mr-3 subm">
                                    <!--data-target="#kt_header_tab_3"-->
                                    <a href="" class="nav-link py-4 " >Implementacion</a>
                                    <ul class="sub">
                                        <li><a target="_blank" href="{% for est in collections.estrategia %} {{est.data.link}} {% endfor %}">Estrategia 2022-2025</a></li>
                                        <li><a href="/programas/index.html">Programas</a></li>
                                        <li><a href="/proyectos/index.html">Proyectos</a></li>
                                        <li><a href="/monitoreo/index.html">Monitoreo y Evaluación</a></li>
                                        <li><a href="/financiamiento/index.html">Financiamiento</a></li>
                                        <li><a href="{% for analitica in collections.analiticas %} {{analitica.url}} {% endfor %}">Analíticas</a></li>
                                        <li><a href="/reporte_anual/index.html">Reporte Anual</a></li>
                                        <!--https://publicaciones.redciudadana.org/2021/Red%20Ciudadana%202021%20-%20Reporte%20Anual.pdf-->
                                    </ul>
                                </li>
                                <!--end::Item-->
                               <!--begin::Item-->
                                <li class="nav-item mr-3">
                                    <!--data-target="#kt_header_tab_2"   data-toggle="tab" role="tab"-->
                                    <a href="/sistemarc/index.html" target="_blank" class="nav-link py-4 " >Sistema RC</a>
                                </li>
                                <!--end::Item-->
                                
                            </ul>
                            <ul class="icon">
                                <li >
                                    <a href="javascript:void(0);"  onclick="myFunction()">
                                        <i class="fa fa-bars " style="font-size: 4rem; padding-top:15px"></i>
                                    </a>
                                </li>
                            </ul>

                            <script src="/assets/js/menu.js"> </script>
                        </nav>
                        
                        <div class="vertical-menu" id="verm" style="display:none">
                            
                            <a href="/proyectos/index.html">Proyectos</a>
                            <a href="/monitoreo/index.html">Monitoreo</a>
                            <a href="/financiamiento/index.html">Financiamiento</a>
                            <a href="/voluntariado/index.html">Voluntariado</a>
                            <a href="/indicadores/index.html">Indicadores</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 d-none d-xl-block ">
                    <div class="header-02-wrapper">
                        
                        <div id="redes" class="header-icon header-02-icon  f-right" style="margin-bottom:1rem">
                            
                            <a target="_blank" href="https://www.facebook.com/Redciudadanagt"><i style="color:#3F4254" class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/redxguate"><i style="color:#3F4254" class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.instagram.com/redxguate/"><i style="color:#3F4254" class="fab fa-instagram"></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><i style="color:#3F4254" class="fab fa-youtube"></i></a>
                            
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->



{% block content %}
{% endblock %} 
            
        <!-- footer-area-start -->
        <footer>
            <div class="footer-middle-area pt-80 pb-25" style="background-image:url(/assets/newElements/03.png);   ">
                <div class="container">
                    <div class="row" style="justify-content:space-between">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="footer-wrapper my-20">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="/assets/newElements/LOGO-RED_BLANCO.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-9">
                            <div class="d-flex align-items-center justify-content-end my-20">
                                <a target="_blank" style="margin:0 3px" href="https://www.facebook.com/Redciudadanagt"><img style="width:50px; height:50px" src="/assets/newElements/REDES-27.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://twitter.com/redxguate"><img style="width:50px; height:50px" src="/assets/newElements/REDES-28.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.instagram.com/redxguate/"><img style="width:50px; height:50px" src="/assets/newElements/REDES-29.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><img style="width:50px; height:50px" src="/assets/newElements/REDES-30.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <img class="w-100" src="/assets/newElements/09.png">
                        </div>
                    </div>
                    <div class="footer-bottom-area mt-20" style="border-top:none">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="copyright text-center text-white">
                                    <p><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->
        

</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

{% block body_javascripts %}

<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="/assets/plugins/global/plugins.bundle.js"></script>
<script src="/ssets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="/assets/js/scripts.bundle.js"></script>
<!--end::Global Theme Bundle-->


{% endblock %}


</body>
</html>
