---
permalink: "/sistemarc/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Sistema Red </title>
{% endblock %}

{% block content %}
<!--begin::Body-->
			<!-- breadcrumb-area-start -->
            <div class="breadcrumb-area pt-150 pb-155" style="background-image:url(/assets/newElements/SLIDER/er-30.png)">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="breadcrumb-text text-center" style="padding: 0 2rem">
								<div class="titulo_new">
									<img src="/assets/newElements/er-40.png">
									<h2 >Sistema RC</h2>
								</div>
                                <h3 class="text-white" style="font-size:20px">
								Conoce más sobre los proyectos, monitoreo y evaluación, voluntariado y financiamiento de <b>Red Ciudadana</b> </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->
			
			<div>
				<div>
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
								<!--begin::Page Layout-->
								<div class="d-flex flex-row">
									<!--begin::Layout-->
									<div class="flex-row-fluid ml-lg-8">

										<div class="row my-15">

											<div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-38.png">
    													<h4>Estrategia 2024-2028</h4>
                                                    </div>
                                                    <p>Aquí se presenta una visión clara de los objetivos y metas de Red Ciudadana para el periodo 2024-2028. Esta sección guiará todas las decisiones y acciones de la organización.</p>
                                                    <ul>
                                                        <li><b>Visión y Misión:</b> Reiteración y posible actualización de la visión y misión de la organización.</li>
                                                        <li><b>Objetivos Estratégicos:</b> Lista detallada de los objetivos a lograr en este periodo.</li>
                                                        <li><b>KPIs y Metas:</b> Indicadores de desempeño clave y metas específicas asociadas a cada objetivo.</li>
                                                        <li><b>Planes de Acción:</b> Pasos detallados sobre cómo alcanzar cada objetivo.</li>
                                                    </ul>
                                                </div>
											</div>

                                            <div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-32.png">
    													<h4>Administración</h4>
                                                    </div>
                                                    <p>Sección destinada a la gestión interna y operativa de la organización.</p>
                                                    <ul>
                                                        <li><b>Organigrama:</b> Visualización de la estructura organizacional.</li>
                                                        <li><b>Manual de Funciones:</b> Descripciones detalladas de las funciones de cada puesto.</li>
                                                        <li><b>Recursos Humanos:</b> Procedimientos de contratación, inducción, capacitación, y más.</li>
                                                        <li><b>Calendario Organizacional:</b> Fechas importantes, reuniones, y eventos.</li>
                                                    </ul>
                                                </div>
											</div>

                                            <div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-33.png">
    													<h4>Financiamiento</h4>
                                                    </div>
                                                    <p>Todo lo relacionado con la obtención y administración de recursos financieros.</p>
                                                    <ul>
                                                        <li><b>Fuentes de Financiamiento:</b> Listado de donantes, patrocinadores, y otros ingresos.</li>
                                                        <li><b>Presupuestos:</b> Desglose de los presupuestos anuales o por proyecto.</li>
                                                        <li><b>Gestión de Gastos:</b> Procedimientos para el manejo y aprobación de gastos.</li>
                                                        <li><b>Reportes Financieros:</b> Informes periódicos de la situación financiera.</li>
                                                    </ul>
                                                </div>
											</div>

                                            <div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-34.png">
    													<h4>Reporte Anual</h4>
                                                    </div>
                                                    <p>Resumen de actividades, logros, y desafíos enfrentados durante el año.</p>
                                                    <ul>
                                                        <li><b>Logros y Metas Alcanzadas:</b> Detalles de los objetivos logrados en el año.</li>
                                                        <li><b>Historias de Impacto:</b> Narraciones sobre el impacto directo de la organización en la comunidad.</li>
                                                        <li><b>Estados Financieros:</b> Transparente presentación de ingresos y gastos.</li>
                                                        <li><b>Planes Futuros:</b> Breve adelanto de lo que la organización planea para el próximo año.</li>
                                                    </ul>
                                                </div>
											</div>

                                            <div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-38.png">
    													<h4>Programa</h4>
                                                    </div>
                                                    <p>Visión global de los programas en ejecución.</p>
                                                    <ul>
                                                        <li><b>Descripción de Programas:</b> Breve resumen de cada programa.</li>
                                                        <li><b>Objetivos y Metas:</b> Lo que cada programa busca lograr.</li>
                                                        <li><b>Recursos Asociados:</b> Personal, financiamiento y herramientas destinadas a cada programa.</li>
                                                    </ul>
                                                </div>
											</div>

                                            <div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-37.png">
    													<h4>Proyectos</h4>
                                                    </div>
                                                    <p>Desglose detallado de cada proyecto en ejecución.</p>
                                                    <ul>
                                                        <li><b>Descripción de Proyectos:</b> Información detallada sobre cada proyecto.</li>
                                                        <li><b>Estatus:</b> Actualizaciones en tiempo real sobre el progreso del proyecto.</li>
                                                        <li><b>Equipo Asociado:</b> Miembros del equipo asignados al proyecto y sus roles.</li>
                                                        <li><b>Cronograma:</b> Timeline con fechas claves y milestones.</li>
                                                    </ul>
                                                </div>
											</div>

                                            <div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-36.png">
    													<h4>Monitoreo y Evaluación</h4>
                                                    </div>
                                                    <p>Procedimientos y herramientas para evaluar el impacto y desempeño de programas y proyectos.</p>
                                                    <ul>
                                                        <li><b>Métricas e Indicadores:</b>  KPIs específicos para evaluar el progreso y impacto.</li>
                                                        <li><b>Herramientas de Monitoreo:</b> Software o métodos utilizados para la recolección y análisis de datos.</li>
                                                        <li><b>Reportes de Evaluación:</b> Informes periódicos que muestran los resultados del monitoreo y evaluación.</li>
                                                    </ul>
                                                </div>
											</div>

                                            <div class="col-lg-6 my-4">
												<div class="cuadro_sistema">
                                                    <div class="cuadro_sistema_titulo">
                                                        <img src="/assets/newElements/ICONOS/er-35.png">
    													<h4>Analíticas</h4>
                                                    </div>
                                                    <p>Datos y métricas relevantes para la toma de decisiones.</p>
                                                    <ul>
                                                        <li><b>Panel de Control:</b> Vista rápida de métricas clave.</li>
                                                        <li><b>Análisis de Tendencias:</b> Interpretación de los datos para identificar tendencias y oportunidades. </li>
                                                        <li><b>Recomendaciones Basadas en Datos:</b> Propuestas de acciones basadas en el análisis de datos. </li>
                                                    </ul>
                                                </div>
											</div>
											
										</div>

									</div>
									<!--end::Layout-->
								</div>
								<!--end::Page Layout-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->
					
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->
		
		


<!--end::Body-->

{% endblock %}


{% block body_javascripts %}

<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
<!--end::Global Config-->
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<!--end::Global Theme Bundle-->

{% endblock %}





